// ________________
// ________ PARADOXE ________
// ________________


// ________ USER SETTINGS ________
// ____
$col-number: 12
$offset-left: true
$offset-right: false
$spicy-rules: true

$media-list: (480px, 768px, 992px, 1200px)
$prefix-list: (a, b, c, d)

$prefix-offset-left: l
$prefix-offset-right: r

$row-name: flowfix

// ________ COLUMNS ________
// ____
$col-width: 100% / $col-number

@for $m from 1 to length($media-list)+1
	$media: nth($media-list, $m)
	$prefix: nth($prefix-list, $m)
	@media only screen and (min-width: $media)
			@for $i from 1 to $col-number+1
				.#{$prefix}#{$i}
					width: $col-width * $i
					float: left
			@if $offset-left == true
				@for $i from 1 to $col-number+1
					.#{$prefix}#{$prefix-offset-left}#{$i}
						margin-left: $col-width * $i
			@if $offset-right == true
				@for $i from 1 to $col-number+1
					.#{$prefix}#{$prefix-offset-right}#{$i}
						margin-right: $col-width * $i


			

// ________ ROWS ________
// ____
.#{$row-name}::before, .#{$row-name}::after
	content: ''
	display: block
	visibility: hidden
	font-size: 0
	height: 0
	clear: both

// ________ SPICY RULES _________
// ____
@if $spicy-rules == true
	*
		box-sizing: border-box
	img
		max-width: 100%